body{
	margin: 0px;
	background: rgb(243,243,237);
	width: 100%;
}

/**************
HEADER
***************/
.header{
	width: 95%;
	min-height: 50px;
	margin: 10px auto;
}

.left{
	float: left;
	display: inline;
	width: 60%;
}

.right{
	float: right;
	width: 40%;
}

.right ul{
	display: inline;
	float:right;
}

.right ul li {
	list-style: none;
	display: inline;
	color: blue;
	padding-left: 20px;
}

.signIn{
	height: 35px;
	width: 65px;
	border: 1px solid blue;
	font-size: 16px;
	border-radius: 2px;
}

.logo{
	color: #f25000;
	font-size: 2.7em;
}

.left input{
	padding: 6px;
	width: 300px;
	position: relative;
	bottom: 10px;
	font-size: 16px;
}

.search{

    font-size: 16px;
    color: white;
    width: 80px;
    background: lightblue;
    position: relative;
    bottom: 10px;
    right: 6px;
    border: none;
    padding: 8px;
}

.cart{
	border-left: 1px solid lightgrey;
	padding: 20px;
}

.navBar {
	clear:both;
	width: 100%;
	border-top:1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	
}

.navBar ul{
	padding: 0px;

}


.navBar ul li {
	list-style: none;
    display: inline;
    margin-left: 30px;
    color: grey;
    padding-bottom: 13px;
}

.navBar ul li:hover {
	list-style: none;
    display: inline;
    margin-left: 30px;
    color: grey;
    border-bottom: 3px solid orange;
    padding-bottom: 13px;
    border-bottom: 3px solid orange;
}


.clothesul{
 display: none;
  
}

.clothesul li{
	color: green;
}


.clothesShow{
	display:flex;
 	flex-direction: column;
  	flex-wrap: wrap;
  	position: absolute; 
  
}

#clothesShow li{
	color:green;
}

.clothes2{
 display: none;
}

/**********
NAVBARS
**********/

.meenu{
	display:flex;
 	flex-direction: column;
  	flex-wrap: wrap;
  	position: relative;
}


#menu2{
	width: 800px;
	position: absolute;
	min-height: 100px;
	background:grey;
	display:none;
	z-index: 2;
	margin: 0 auto;
	top:35px;
	left: 0px;
}

#menu2 ul{
	border-right: 1px solid black;
	width: 30%;
}


#menu2 ul li{
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 0px;
}



#menu2 ul li:hover{
 	border: none;
 	background: red;
 	width: 94%;
  	
}

.meenu2Show{
	display:flex;
 	flex-direction: column;
  	flex-wrap: wrap;
}

.meenu3{
	display:none;
 	flex-direction: column;
  	flex-wrap: wrap;
  	position: relative; 
}








/**********
PANEL 1 
************/
.mainContainer{
	background: rgb(243,243,237);
	width: 100%;
}


.container{
	width: 95%;
	margin: 30px auto;
	
}

/*panel 1*/

.panel1{
	width: 17%;
	float: left;
}

.panel{
	background: red;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.panel b {
	padding-bottom: 10px;
}
.panel ul{
	padding-left: 0px;
	padding-right: 20px;
	margin-left: 10px;
	margin-top: 0px;

}



.panel ul li{
	list-style: none;
	padding-top: 5px;
}

/*************
TOP CAT
*************/
.topCategories{
	float: right;
	width: 79%;
}


.box{
	width: 100%;
	background: blue;


}

.box div {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 20px;

}



.hNlCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
	
	
}

.aNcCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
	
}

.weddingCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
}



.topDC{
	width: 100%;
   	margin: 180px auto;
	
}

.topDC p{
	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}

.aNc{
    width: 100%;
   	margin: 180px auto;
}

.aNc p{
	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}

.wedding{
   	width: 100%;
   	margin: 180px auto;
}

.wedding p{
   	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}


/*top categories bottom */

.box2{
	position: relative;
	top:10px;	
	width: 100%;
	

}

.box2 div {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 20px;
	
}

.clothingCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
	
}

.bottomDC{
 	width: 100%;
   	margin: 130px auto;
	
}

.bottomDC p{
   	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
	
}


.partyCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
	
}



.jewerlyCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
}

.accesoriesCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
}






/**********
PANEL 2 
************/
.panelTwo{
	width: 17%;
    
}


.panel2Span{
	font-weight: bold;
}

.panel2{
	background: red;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	float: left;
} 

.panel2 ul {
	padding: 0px;
}


.panel2 ul li{
	list-style: none;
}

.price{
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}

.price input{
	padding: 5px;
	width: 25%;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.coloredButtons{
	padding-top: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.coloredButtons button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.square{
	height: 20px;
	width: 20px;
	
	display: inline;
	border:1px solid lightgrey;
}

.red{
	background: red;
}

.orange{
	background:orange;
}

.yellow{
	background: yellow;
}
.green{
	background: green;
}
.blue{
	background: blue;
}
.purple{
	background: purple;
}
.black{
	background: black;
}
.white{
	background: white;
}

.orderingOptions{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.shopLocation{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}

.shipLocation{
	padding-top: 10px;
	
}

select{
	background: transparent;
    height: 35px;
    font-size: 14px;
    width: 100%;
}

/*************
ALL CATEGORIES
************/


.allCategories{
    float: right;
    width: 79%;
    min-height: 200px;
    background: blue;
    border-top: 1px solid black;
    margin-top: 40px;
}

.allCatSpan{
	padding-top: 20px;
}


.allCatLeft{
	float: left;
}

.allCatRight{
	float: right;
}

/*********
Caption 
*******/

.captionBox{
	min-height: 200px;
	width: 22%;
	background: red;
	display: inline-block;
	margin-left: 22px;
	margin-top: 20px;
	float:left;

}

.allCatBoxes{
	position: relative;
}


.image{
	width: 100%;
}

.caption{
	font-size: 12px;
	padding:5px;
	margin:0px;

}

.title{
	text-align: center;
    line-height: 10px;
    margin: 0px;
}

.capLeft{
	float: left;
	margin:0px;
	line-height: 20px;
}

.capRight{
	float: right;
	margin:0px;
	line-height: 20px;
}

.related{
	position: relative;
	float:left;
	width: 100%;
	margin-top: 20px;
	background: orange;
}

.relatedDiv{
	display: inline-flex;
	float:left;

}


.relatedList ul{
	display: inline;
	padding:0px;
	padding-right: 50px;
}

.relatedDiv ul li{
	list-style: none;
}

.more{
	width: 100%;
}

.buttons{
	padding-bottom: 20px;
}

.buttons button{
	height: 30px;
	margin:-2px;
	display: inline;
	background: blue;
	font-weight: grey;
	font-size: 20px;
	border:1px solid lightgrey;
	width: 4%;
}

footer{
	width: 100%;
	background: green;
	float:left;
	border-top: 1px solid grey;
	border-bottom:1px solid grey;
	display:block;
}

.subscribeBox{
	min-height: 100px;
	background:red;
	width: 90%;
	margin:30px auto ;
	border: 10px solid grey;
}

.subscribeBox p {
	text-align: center;
}

.subscribeBox button {
	background: orange;
    color: white;
    width: 20%;
    height: 35px;
    font-size: 16px;
    border: none;
}

.other {
	width: 80%;
	margin: 0 auto;

}

.other div{

}

.openShopCon{
	width: 20%;
	float: left;
	padding-right: 40px;
}

.openShop{
    margin: 0px;

}

.openShop p{
    margin: 0px;
}

.openShop button{
	border: none;
    background: blue;
    color: white;
    font-size: 16px;
    padding: 5px;
}

.other ul {
	padding: 0px;
}

.other ul li{
	list-style: none;
}

.community{
	float: left;
	width: 20%;
}

.community ul {
	margin: 0px;
}

.Discover{
	float: left;
	width: 20%;
}

.Discover ul{
	margin: 0px;
}

.getToKnow{
	width: 20%;
	float: left;
}

.getToKnow ul{
	margin: 0px;
}

.follow ul{
	padding: 0px;
}

.lastSection{
	clear: both;
	text-align: center;
}

.lastSection p {
	display:inline;

}






