body{
	margin: 0px;
}

/**************
HEADER
***************/
.header{
	width: 95%;
	min-height: 50px;
	margin: 10px auto;
}

.left{
	float: left;
	display: inline;
	width: 60%;
}

.right{
	float: right;
	width: 40%;
}

.right ul{
	display: inline;
	float:right;
}

.right ul li {
	list-style: none;
	display: inline;
	color: blue;
	padding-left: 20px;
}

.signIn{
	height: 35px;
	width: 65px;
	border: 1px solid blue;
	font-size: 16px;
	border-radius: 2px;
}

.logo{
	color: #f25000;
	font-size: 2.7em;
}

.left input{
	padding: 6px;
	width: 300px;
	position: relative;
	bottom: 10px;
	font-size: 16px;
}

.search{

    font-size: 16px;
    color: white;
    width: 80px;
    background: lightblue;
    position: relative;
    bottom: 10px;
    right: 6px;
    border: none;
    padding: 8px;
}

.cart{
	border-left: 1px solid lightgrey;
	padding: 20px;
}

.navBar {
	clear:both;
	width: 100%;
	border-top:1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	
}

.navBar ul{
	padding: 0px;

}


.navBar ul li {
	list-style: none;
	display: inline;
	padding-left: 30px;
	color: grey;
}

/**********
PANEL 1 
************/

.container{
	width: 95%;
	margin: 30px auto;
}

/*panel 1*/

.panel1{
	width: 17%;
	float: left;
}

.panel{
	background: red;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.panel b {
	padding-bottom: 10px;
}
.panel ul{
	padding-left: 0px;
	padding-right: 20px;
	margin-left: 10px;
	margin-top: 0px;

}



.panel ul li{
	list-style: none;
	padding-top: 5px;
}

/*************
TOP CAT
*************/
.topCategories{
	float: right;
	width: 79%;
}


.box{
	width: 100%;
	background: blue;


}

.box div {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 20px;

}



.hNlCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
	
	
}

.aNcCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
	
}

.weddingCon{
	background: url("http://placehold.it/300x250");
	width: 30%;
	height: 250px;
}



.topDC{
	width: 100%;
   	margin: 180px auto;
	
}

.topDC p{
	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}

.aNc{
    width: 100%;
   	margin: 180px auto;
}

.aNc p{
	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}

.wedding{
   	width: 100%;
   	margin: 180px auto;
}

.wedding p{
   	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
}


/*top categories bottom */

.box2{
	position: relative;
	top:10px;	
	width: 100%;
	

}

.box2 div {
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 20px;
	
}

.clothingCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
	
}

.bottomDC{
 	width: 100%;
   	margin: 130px auto;
	
}

.bottomDC p{
   	width: 50%;
	background: white;
	text-align: center;
	margin: 0px auto;
	padding: 15px;
	
}


.partyCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
	
}



.jewerlyCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
}

.accesoriesCon{
	background: url("http://placehold.it/300x250");
	width: 22%;
	height: 200px;
}






/**********
PANEL 2 
************/
.panelTwo{
	width: 17%;
    
}


.panel2Span{
	font-weight: bold;
}

.panel2{
	background: red;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	float: left;
} 

.panel2 ul {
	padding: 0px;
}


.panel2 ul li{
	list-style: none;
}

.price{
	border-top: 1px solid lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}

.price input{
	padding: 5px;
	width: 25%;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.coloredButtons{
	padding-top: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.coloredButtons button{
	margin-top: 10px;
	margin-bottom: 20px;
}

.square{
	height: 20px;
	width: 20px;
	
	display: inline;
	border:1px solid lightgrey;
}

.red{
	background: red;
}

.orange{
	background:orange;
}

.yellow{
	background: yellow;
}
.green{
	background: green;
}
.blue{
	background: blue;
}
.purple{
	background: purple;
}
.black{
	background: black;
}
.white{
	background: white;
}

.orderingOptions{
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

.shopLocation{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}

.shipLocation{
	padding-top: 10px;
	
}

select{
	background: transparent;
    height: 35px;
    font-size: 14px;
    width: 100%;
}

/*************
ALL CATEGORIES
************/


.allCategories{
    float: right;
    width: 79%;
    height: 200px;
    background: blue;
    border-top: 1px solid black;
    margin-top: 40px;
}

.allCatSpan{
	padding-top: 20px;
}


.allCatLeft{
	float: left;
}

.allCatRight{
	float: right;
}

/*********
Caption 
*******/

.captionBox{
	height: 200px;
	width: 22%;
	background: red;
	display: inline-block;
	margin-left: 22px;
	margin-top: 20px;
	float:left;
}







